@{
    ViewData["Title"] = "Tableros";    
}
@using EspacioViewModels
@model TableroListadoView

<div class="text-center">
    <h1 class="display-4">Tableros</h1>
    <table class="table caption-top table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Usuario Propietario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Modificar</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var tab in Model.TablerosView){
                if (tab.Id != 0)
                {
                    <tr>
                        <td class="m-auto">@tab.Usuario</td>
                        <td class="m-auto">@tab.Nombre</td>
                        <td class="m-auto">@tab.Descripcion</td>
                        <td>
                            @if (Model.Id_sesion == @tab.Id_usuario_propietario) 
                            {
                                <a type="button" class="btn btn-outline-dark"  asp-controller="Tablero" asp-action="ModificarTablero" asp-route-id="@tab.Id">Modificar</a>
                            }
                        </td>
                        <td>
                            @if (Model.Id_sesion == @tab.Id_usuario_propietario) 
                            {
                                <a type="button" class="btn btn-outline-danger" asp-controller="Tablero" asp-action="EliminarTablero" asp-route-id="@tab.Id" onclick="return confirm('¿Estas seguro que quieres eliminar a @tab.Nombre?')">Eliminar</a>
                            }
                        </td>                 
                    </tr>
                }
            }
        </tbody>
    </table>
    <a type="button" class="btn btn-outline-success" asp-area="" asp-controller="Tablero" asp-action="CrearTablero">Crear Tablero</a>
</div>