@{
    ViewData["Title"] = "Modificar Tablero";    
}
@using EspacioTablero
@using tl2_tp10_2023_vaninaze.ViewModels
@model TableroModificarView

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-primary">Modificar Tablero</h1>
    <form class="w-50 my-2 p-4 border border-3 border-primary rounded-2 border-opacity-25" asp-controller="Tablero" asp-action="ModificarTablero">
        <legend>@Model.Id - @Model.Nombre</legend>
        <fieldset>
            <input hidden asp-for="@Model.Id">
            <div class="form-group">
                <label asp-for="@Model.Id_usuario_propietario" value="@Model.Id_usuario_propietario">Usuario propietario:</label>
                <select class="form-select" asp-for="@Model.Id_usuario_propietario">
                    @foreach (var u in Model.Usuarios){
                        if(u.Id==0){
                            <option value="@u.Id">Sin Propietario</option>
                        }else{
                            <option value="@u.Id">@u.Nombre_de_usuario</option>
                        }
                    }
                    <span asp-validation-for="@Model.Id_usuario_propietario" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Nombre" class="form-label text-center">Nombre</label>
                <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp" placeholder="Nombre del tablero" required>
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Descripcion" class="form-label text-center">Descripcion</label>
                <input type="text" class="form-control" asp-for="@Model.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion" required>
            </div>
            <button type="submit" class="btn  btn-outline-primary">Submit</button>
        </fieldset>
    </form>
</div>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}