@{
    ViewData["Title"] = "Modificar Tablero";    
}
@using EspacioTablero
@model Tablero

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-primary">Modificar Tablero</h1>
    <form class="w-50 my-2 p-4 border border-3 border-primary rounded-2 border-opacity-25" asp-controller="Tablero" asp-action="ModificarTablero">
        <legend>@Model.Id - @Model.Nombre</legend>
        <fieldset>
            <input hidden asp-for="@Model.Id">
            <input hidden asp-for="@Model.Id_usuario_propietario" value="@Model.Id_usuario_propietario">
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp" placeholder="Nombre del tablero" required>
                <label asp-for="@Model.Nombre" class="form-label text-center">Nombre</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion" required>
                <label asp-for="@Model.Descripcion" class="form-label text-center">Descripcion</label>
            </div>
            <button type="submit" class="btn  btn-outline-primary">Submit</button>
        </fieldset>
    </form>
</div>