@{
    ViewData["Title"] = "Login";
}

@using EspacioViewModels
@model LoginViewModel
@if(Model.TieneMensajeDeError)
{
    <p>@Model.MensajeDeError</p>
}
<form asp-controller="Login" asp-action="Login" method="post">
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <label class="sr-only" asp-for="@Model.Nombre_de_usuario">Usuario</label>
            <input type="text" class="form-control" asp-for="@Model.Nombre_de_usuario">
            <span asp-validation-for="@Model.Nombre_de_usuario" class="text-danger"></span>
        </div>
        <div class="col-sm-3 my-1">
            <label class="sr-only" asp-for="@Model.Pass">Contraseña</label>
            <input type="password" class="form-control" asp-for="@Model.Pass">
            <span asp-validation-for="@Model.Pass" class="text-danger"></span>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-outline-success">Enviar</button>
        </div>
    </div>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }