@{
    ViewData["Title"] = "Modificar Tarea";    
}
@using EspacioTablero
@using tl2_tp10_2023_vaninaze.ViewModels
@model TareaModificarView

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-primary">Modificar Tarea</h1>
    <form class="w-50 my-2 p-4 border border-3 border-primary rounded-2 border-opacity-25" asp-controller="Tarea" asp-action="ModificarTarea">
        <legend>@Model.Id</legend>
        <fieldset>
            <input hidden asp-for="@Model.Id">
            <div class="form-group">
                <label asp-for="@Model.Id_tablero">Tablero: </label>
                <select class="form-select" asp-for="@Model.Id_tablero">
                    <option selected value="0">Sin Tablero</option>
                    @foreach(var tablero in Model.Tableros){
                        <option value="@tablero.Id">@tablero.Nombre</option>
                    }
                </select>
                <span asp-validation-for="@Model.Id_tablero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Nombre" class="form-label text-center">Nombre:</label>
                <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp" placeholder="Nombre de la tarea" required>
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Estado">Estado:</label>
                <select class="form-select" asp-for="@Model.Estado">
                    <option selected value="0">Ideas</option>
                    <option value="1">Hacer</option>
                    <option value="2">Haciendo</option>
                    <option value="3">Revisar</option>
                    <option value="4">Terminada</option>
                </select>
                <span asp-validation-for="@Model.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Descripcion" class="form-label text-center">Descripcion:</label>
                <input type="text" class="form-control" asp-for="@Model.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion" required>
                <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Color">Color:</label>
                <input type="color" class="form-control" id="Color" name="Color" value="#ff94ac" onchange="GuardarColor()">
                <input type="text" class="form-control" id="stringColor" name="Color" readonly hidden>
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Id_usuario_asignado">Usuario Asignado:</label>
                <select class="form-select" asp-for="@Model.Id_usuario_asignado">
                    <option selected value="0">Sin Asignar</option>
                    @foreach(var usuario in Model.Usuarios){
                        <option value="@usuario.Id">@usuario.Nombre_de_usuario</option>
                    }
                </select>
                <span asp-validation-for="@Model.Id_usuario_asignado" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </fieldset>
    </form>
</div>
<script>
    function GuardarColor() {
        var Color = document.getElementById('Color');
        var stringColor = document.getElementById('stringColor');

        stringColor.value = Color.value;
    }
</script>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}