@{
    ViewData["Title"] = "Modificar Tarea";    
}
@using EspacioTablero
@model Tarea

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-primary">Modificar Tarea</h1>
    <form class="w-50 my-2 p-4 border border-3 border-primary rounded-2 border-opacity-25" asp-controller="Tarea" asp-action="ModificarTarea">
        <legend>@Model.Id</legend>
        <fieldset>
            <input hidden asp-for="@Model.Id">
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp" placeholder="Nombre de la tarea" required>
                <label asp-for="@Model.Nombre" class="form-label text-center">Nombre</label>
            </div>
            <div class="mb-3 form-floating">
                <label asp-for="@Model.Estado">Estado: </label>
                <select class="form-select" asp-for="@Model.Estado">
                    <option selected value="0">Ideas</option>
                    <option value="1">ToDo</option>
                    <option value="2">Doing</option>
                    <option value="3">Review</option>
                    <option value="4">Done</option>
                </select>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion" required>
                <label asp-for="@Model.Descripcion" class="form-label text-center">Descripcion</label>
            </div>
            <div class="mb-3 form-floating">
                <label asp-for="@Model.Color">Color:</label>
                <input type="color" class="form-control" id="Color" name="Color" value="#ff0000" onchange="GuardarColor()">
                <input type="text" class="form-control" id="stringColor" name="Color" readonly hidden>
            </div>

            <button type="submit" class="btn  btn-outline-primary">Submit</button>
        </fieldset>
    </form>
</div>
<script>
    function GuardarColor() {
        var Color = document.getElementById('Color');
        var stringColor = document.getElementById('stringColor');

        stringColor.value = Color.value;
    }
</script>