@using EspacioTablero
@using tl2_tp10_2023_vaninaze.ViewModels
@model UsuarioCrearView

<main>
    <h1>Crear Usuario</h1>
    <form asp-controller="Usuario" asp-action="CrearUsuario">
        <div class="mb-3">
            <label asp-for="@Model.Nombre_de_usuario" class="form-label text-center">Nombre de Usuario</label>
            <input type="text" class="form-control" asp-for="@Model.Nombre_de_usuario" aria-describedby="emailHelp" placeholder="Nombre de usuario" required>
            <span asp-validation-for="@Model.Nombre_de_usuario" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Pass" class="form-label text-center">Contraseña</label>
            <input type="text" asp-for="@Model.Pass" class="form-control"/>
            <span asp-validation-for="@Model.Pass" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Rol" class="form-label text-center">Rol</label>
            <select asp-for="@Model.Rol" class="form-select" aria-label="Default select example">
                <option value="Operador" selected>Operador</option>
                <option value="Administrador">Administrador</option>
            </select>
            <span asp-validation-for="@Model.Rol" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</main>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}