@{
    ViewData["Title"] = "Home Page";
}
@using EspacioTablero
@using tl2_tp10_2023_vaninaze.ViewModels
@model UsuarioListadoView

<main class="text-center">
    <h2>Lista Usuarios</h2>

    <table class="table caption-top table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.ViewUsuarios)
            {
                <tr>
                    <th class="m-auto" scope="row">@usuario.Id</th>
                    <th class="m-auto" scope="row">@usuario.Nombre_de_usuario</th>
                    <td class="m-auto" scope="row">@usuario.Rol</td>
                    <td class="m-auto" scope="row">@usuario.Pass</td>
                    <td>
                        <a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-id="@usuario.Id">Modificar</a>
                    </td>
                    <td>
                        <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-id="@usuario.Id" onclick="return confirm('¿Eliminar elemento?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-outline-success fs-5 py-2 px-4" asp-area="" asp-controller="Usuario" asp-action="CrearUsuario"><i
            class="bi bi-plus-lg"></i> Agregar Usuario</a>
</main>