@{
    ViewData["Title"] = "Modificar Usuario";
}
@using EspacioTablero
@using tl2_tp10_2023_vaninaze.ViewModels
@model UsuarioModificarView

<main>
    <h1>Modificar Usuario</h1>
    <form class="w-50 my-2 p-4 border border-3 border-primary rounded-2 border-opacity-25" asp-controller="Usuario" asp-action="ModificarUsuario">
        <input hidden asp-for="@Model.Id">
        <div class="form-group">
            <label asp-for="@Model.Nombre_de_usuario">Nombre de usuario</label>
            <input asp-for="@Model.Nombre_de_usuario" class="form-control" required>
            <span asp-validation-for="@Model.Nombre_de_usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Pass">Contraseña</label>
            <input asp-for="@Model.Pass" class="form-control" required>
            <span asp-validation-for="@Model.Pass" class="text-danger"></span>
        </div>
        <button type="submit" class="btn  btn-outline-primary">Submit</button>
    </form>
</main>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}