@{
    ViewData["Title"] = "Modificar Rol de Usuario";    
}
@using EspacioViewModels
@model UsuarioModificarView

@if(Model.TieneMensajeDeError)
{
    <p>@Model.MensajeDeError</p>
}

<div class="text-center d-flex flex-column align-items-center">
    <h2 class="text-dark">Modificar Rol de Usuario</h2>
    <form class="w-50 my-2 p-4 border border-3 border-dark rounded-2 border-opacity-25 needs-validation" novalidate="novalidate"  asp-controller="Usuario" asp-action="ModificarUsuario" method="post">
        <fieldset>
            <div class="mb-3">
                <legend>Usuario: @Model.Nombre_de_usuario</legend>
                <input type="hidden" asp-for="@Model.Id">
                <input type="hidden" asp-for="@Model.Nombre_de_usuario">
                <input type="hidden" asp-for="@Model.Pass">
                <div class="mb-3 has-validation">
                    <label asp-for="@Model.Rol" class="form-label text-center">Rol</label>
                        <select asp-for="@Model.Rol" class="form-select" aria-label="Default select example">
                            <option value="0" selected>Operador</option>
                            <option value="1">Administrador</option>
                        </select>
                    <span asp-validation-for="@Model.Rol" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Enviar</button>
        </fieldset>
    </form>
</div>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}